@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700,400,400italic,700italic');

html, body
    background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC40IiBudW1PY3RhdmVzPSIxIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIiBmaWxsPSIjQ0REMkQ4Ij48L3JlY3Q+CjxyZWN0IHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=")
    color $defaultFontColor
    font-family $defaultFontFamily
    font-size $defaultFontSize
    font-smoothing antialiased !important
    font-weight $fontWeightNormal
    text-rendering optimizeLegibility !important

// Text

.Bold
    font-weight $fontWeightBold

.Upper
    text-transform uppercase


.SuperBold
    font-weight $fontWeightSuperBold

.Heading1
    @extends .Bold
    font-size $fontSizeS1
    font-kerning 25px

.Heading2
    @extends .Bold
    font-size $fontSizeS2
    font-kerning 25px
    line-height 30px

.SubHeading
    font-size $fontSizeS3
    font-style italic

.TitleColumn
    @extends .SuperBold
    font-size $fontSizeS3
    text-transform uppercase

// Input
.inputFocused
    outline none
    box-shadow 0 0 3px alpha($uiPrimaryColor, 0.7)

.inputField
    @extends .Bold
    color $defaultFontColor
    border-radius 5px
    box-sizing border-box
    padding 0 10px
    line-height $inputFieldHeight
    height @line-height
    &:focus {
        @extends .inputFocused
    }

.inputFieldDark
    @extends .inputField
    border darken(palette('Grey', 'a150'), 5%)
    background palette('Grey', 'a150')

.inputFieldLight
    @extends .inputField
    border none
    background #FFF

// List

.simpleItem
    border-bottom 1px solid palette('Blue', 'a100')

.alternatedItem
    color $invertedFontColor
    padding 10px
    &:nth-child(odd)
        background-color palette('Blue', 'a650')
    &:nth-child(even)
        background-color palette('Blue', 'a660')

// Link

a
    @extends .Bold
    &, &:visited, &:active
        color $uiPrimaryColor
        text-decoration none
    &:hover
        color lighten($uiPrimaryColor, 10%)

label
    @extends .Bold
