/* don't auto indent please */

ui($name)
    +b('UI_' + $name)
        {block}

b($name)
    .{$name}
        {block}

e($name)
    &__{$name}
        {block}

m($name)
    &--{$name}
        {block}
