.UI_Form
    &__Header
        @extends .SuperBold
        font-size $fontSizeS3
        text-transform uppercase

        dt, dd
            float left
        dt
            color palette('Blue', 'a300')
            margin-right 15px
        dd
            margin-right 30px
