.UI_Search
    background palette('Blue', 'a650')
    color $invertedFontColor
    padding 10px 0px 10px 10px
    position relative

    .UI_Button
        float right

    .UI_Field__Label
        size(25px, 25px)
        absolute left 20px top 50%
        margin-top -12.5px

    .UI_Field__Field
        background alpha(#000, 0.5)
        border 1px solid alpha(#000, 0.4)
        border-radius 3px
        box-shadow inset 0 0 3px alpha(#000, 0.1), 0 1px 1px alpha(#FFF, 0.1)
        margin-top 0
        padding-left 30px

    .UI_Field
        margin-bottom 0
