.UI_Component
    background #fff
    border-radius 5px
    border 1px solid alpha(palette('Grey', 'a300'), 0.8)
    box-shadow 0 0 5px alpha(#000, 0.1)
    box-sizing border-box
    margin-bottom 20px

    &__Action
        absolute right 0 top 15px

    &__Header
        position relative
        &--Simple
            background palette('Grey', 'a800')
            padding: 15px 20px

        &--Underlined
            box-shadow 0 3px 0 palette('Blue')
            margin 0 20px
            padding 15px 0

    &__Content
        cf()
        padding 20px

    // Theme

    &--Dark
        background palette('Grey', 'a700')
        border 1px solid palette('Grey', 'a700')
        color $invertedFontColor


.UI_ComponentGroup
    .UI_Component
        column(1/2, gutter: 1.3, cycle: 2)
