.UI_Section

    &:first-child
        margin-top -20px

    &__Header
        cf()
        margin-left 0
        margin-right 0

        &--Dark
            margin-left -20px
            margin-right -20px

        .UI_Header__Title
            @extends .Heading2

        .UI_FieldGroup
            margin 0 20px 0 0

    &__Content
        padding-top 20px
