.UI_Header
    &__Title
        @extends .Heading1

    &__Title2
        @extends .Heading2

    &__SubTitle
        @extends .SubHeading
        padding-top 10px

    &__TitleColumn
        @extends .TitleColumn

    &__TitleUpper
        @extends .Upper

    &__TitleDropDown
        height 42px
        line-height @height
        font-size $fontSizeS2_5

    &__WindowTitle
        height 44px
